/* navbar styles */

.navbar {
    border-bottom: 2px solid #008ed6;
    background-color: rgba(0,0,0, .5);
}

/* accomodation styles */
#accomodation {
    height: 60vh;
}

/*  services styles */
#services {
    height: 70vh;
}
.services-image {
    clip-path: ellipse();
}