/* navbar styles */

.navbar {
    border-bottom: 2px solid #008ed6;
    background-color: rgba(0,0,0, .5);
}

/* accomodation styles */
#accomodation {
    height: 55vh;
}

/*  services styles */
#services {
    height: 70vh;
}
.services-image {
    clip-path: ellipse();
}

@media (max-width: 992px) {
    #accomodation {
        height: 30vh;
    }
    
    /* services section styles */
    #services {
        height: 100vh;
    }
}

@media (max-width: 576px) {
    #accomodation {
        height: 20vh;
    }
    
    /* services section styles */
    #services {
        height: 100vh;
    }

    .carousel {
        transform: translateX(10%);
    }
}