/* navbar styles */

.navbar {
    border-bottom: 2px solid #008ed6;
    background-color: rgba(0,0,0, .5);
}

/* accomodation styles */
#weather {
    height: 15vh;
}
#accomodation {
    height: 100vh;
}

/*  services styles */
#info {
    height: 100vh;
}
.services-image {
    clip-path: ellipse();
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #008ed6;
}

#map {
    height: 100vh;
}

#mapContainer {
    height: 90vh;
    width: 90vw;
}

/* Media Queries */

@media (max-width: 992px) {
    #weather {
        height: 11vh;
    }

    #accomodation {
        height: 35vh;
    }
    
    /* services section styles */
    #info {
        height: 100vh;
    }
}

@media (max-width: 576px) {
    #weather {
        height: 15vh;
    }

    #accomodation {
        height: 20vh;
    }
    
    /* services section styles */
    #info {
        height: 100vh;
    }

    .carousel {
        transform: translateX(30%);
    }
}