.navbar {
    border-bottom: 2px solid #008ed6;
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    font-family: 'Open Sans Pro', sans-serif;
}





/* hire section styles */

#hire {
    height: 100vh;
    background-color: #e0e0e0;

    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

    background-size: cover;
    background-position: top;
    position: relative;
}


/* HANDMADE  RESPONSIVE GRID STYLES */

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 35px 35px 70px #bebebe,
        -35px -35px 70px #ffffff;
}

.table-container {
    background: #e0e0e0;
}

#numInput {
    width: 2.5rem;
}


/* instructor section styles */
#instructors {
    height: 100vh;
}

/* footer styles */

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #008ed6;
}

/* Keyframes */
@keyframes moveInLeft {

    /* animation starting position */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /* adding a bit of overhang at 80% of completion */
    80% {
        transform: translateX(1rem);
    }

    /* last stage of animation */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {

    /* animation starting position */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    /* adding a bit of overhang at 80% of completion */
    80% {
        transform: translateX(-1rem);
    }

    /* last stage of animation */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header {
    height: 100vh;
    background-image: url(/media/skisnowboard/ski-jump.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.header_text-box {
    font-family: 'Lato', sans-serif;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading-main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .7rem;
    animation: moveInLeft 1s ease-out;
}

.heading-sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out;
}

p {
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






@media (max-width: 992px) {
    #info {
        height: 200vh;
    }

    #audio {
        height: 130vh;
    }

    #video {
        height: 170vh;
    }
}

@media (max-width: 576px) {
    #info {
        height: 190vh;
    }

    #audio {
        height: 130vh;
    }

    #video {
        height: 140vh;
    }
}