/* navbar styles */

.navbar {
    border-bottom: 2px solid #008ed6;
    background-color: rgba(0,0,0, .5);
}

/* header styles */
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

h1 {
    font-family: 'Open Sans Pro', sans-serif;
}

/* accomodation styles */

#accomodation {
    height: 100vh;
}

/* services section styles */
#services {
    height: 100vh;
}

.services-image {
    clip-path: ellipse();
}


/* contact section styles */
#contact {
    height: 100vh;
}

/* footer styles */

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #008ed6;
}




/* Media Query */
  
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('/media/video/mobile/mobile-home-page.jpg') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
}

@media (max-width: 992px) {
    #accomodation {
        height: 80vh;
    }
    
    /* services section styles */
    #services {
        height: 100vh;
    }
    
    
    /* contact section styles */
    #contact {
        height: 100vh;
    }
}

@media (max-width: 576px) {
    #accomodation {
        height: 200vh;
    }
    
    /* services section styles */
    #services {
        height: 100vh;
    }
    
    
    /* contact section styles */
    #contact {
        height: 100vh;
    }
}